# 와이드포맷을 롱포맷으로 변경(피벗팅)하기

## 데이터셋 준비

In [1]:
import pandas as pd

# 미국 퓨 리서치 센터(Pew Research Center)에서 조사한 미국의 소득과 종교 관련 데이터셋
pew = pd.read_csv('./data/pew.csv')
pew.head()

# - 데이터프레임 구조가 전형적인 와이드(wide), 컬럼와이즈(column-wise), 숏포맷(short) 포맷임

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

## 와이드포맷에서 롱포맷으로 피벗팅

In [2]:
# .melt() 함수사용 와이드포맷에서 롱포맷으로 변경
# - 피벗팅 기준/고정 변수컬럼만 지정
# - 원래 와이드로 나열되어 있다가 롱포맷으로 쌓이는 
#   변수컬럼들을 비롯해, 실제 요소값들을 지칭하는 변수컬럼명은
#   디폴트로 부여되는 variable과 value를 사용함

pew_long = pd.melt(pew, id_vars = 'religion')
pew_long

# - id_vars: 와이드포맷에서 롱포맷으로 데이터프레임을 피벗핑할 때
#            변환에 상관없이 그대로 유지해야하는 기준/고정 변수컬럼
# - variable: 와이드포맷에서 가로방향으로 나열되어 있던 
#             변수컬럼들의 컬럼명칭( <$10k ~ Don't know/refused)이 
#             세로방향으로 길게 쌓이게 됨
# - value: 와이드포맷에서 가로방향으로 나열되어 있던 
#          변수컬럼들의 실제 요소값들이 
#          세로방향으로 길게 쌓이게 됨

                    religion            variable  value
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [3]:
# .melt() 함수사용 와이드포맷에서 롱포맷으로 변경
# - 피벗팅 기준/고정 변수컬럼을 지정함
# - 원래 와이드로 나열되어 있다가 롱포맷으로 쌓이는 
#   변수컬럼들을 비롯해, 실제 요소값들을 지칭하는 변수컬럼명도
#   디폴트로 부여되는 variable과 value를 대신에 별도로 지정함

pew_long = pd.melt(pew, id_vars = 'religion', 
                   var_name = 'income', 
                   value_name = 'count')
pew_long

# - id_vars: 와이드포맷에서 롱포맷으로 데이터프레임을 피벗핑할 때
#            변환에 상관없이 그대로 유지해야하는 기준/고정 변수컬럼
# - variable: 와이드포맷에서 가로방향으로 나열되어 있던 
#             변수컬럼들의 컬럼명칭( <$10k ~ Don't know/refused)이 
#             세로방향으로 길게 쌓이게 됨
# - value: 와이드포맷에서 가로방향으로 나열되어 있던 
#          변수컬럼들의 실제 요소값들이 
#          세로방향으로 길게 쌓이게 됨

                    religion              income  count
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

## billboard 데이터셋을 와이드에서 롱포맷으로 변환

### 복수의 변수컬럼을 피벗팅 기준/고정 변수컬럼으로 고정하고, 나머지 나열된 열들을 세로방향 행으로 바꾸기

In [4]:
billboard = pd.read_csv('./data/billboard.csv')
billboard

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,98^0,Give Me Just One Nig...,3:24,2000-08-19,51,39.0,34.0,26.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,A*Teens,Dancing Queen,3:44,2000-07-08,97,97.0,96.0,95.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,Aaliyah,I Don't Wanna,4:15,2000-01-29,84,62.0,51.0,41.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Aaliyah,Try Again,4:03,2000-03-18,59,53.0,38.0,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,"Adams, Yolanda",Open My Heart,5:30,2000-08-26,76,76.0,74.0,69.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,"Adkins, Trace",More,3:05,2000-04-29,84,84.0,75.0,73.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,"Aguilera, Christina",Come On Over Baby (A...,3:38,2000-08-05,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2000,"Aguilera, Christina",I Turn To You,4:00,2000-04-15,50,39.0,30.0,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2000,"Aguilera, Christina",What A Girl Wants,3:18,1999-11-27,71,51.0,28.0,18.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000,Alice Deejay,Better Off Alone,6:50,2000-04-08,79,65.0,53.0,48.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,"Allan, Gary",Smoke Rings In The D...,4:18,2000-01-22,80,78.0,76.0,77.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2000,Amber,Sexual,4:38,1999-07-17,99,99.0,96.0,96.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2000,Anastacia,I'm Outta Love,4:01,2000-04-01,92,NaN,NaN,95.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,"Anthony, Marc",My Baby You,3:59,2000-09-16,82,76.0,76.0,70.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2000,"Anthony, Marc",You Sang To Me,3:50,2000-02-26,77,54.0,50.0,43.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2000,Avant,My First Love,4:28,2000-11-04,70,62.0,56.0,43.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2000,Avant,Separated,4:13,2000-04-29,62,32.0,30.0,23.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2000,BBMak,Back Here,3:35,2000-04-29,99,86.0,60.0,52.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2000,"Backstreet Boys, The",Shape Of My Heart,3:49,2000-10-14,39,25.0,24.0,15.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2000,"Backstreet Boys, The",Show Me The Meaning ...,3:54,2000-01-01,74,62.0,55.0,25.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2000,"Backstreet Boys, The",The One,3:46,2000-05-27,58,50.0,43.0,37.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2000,"Badu, Erkyah",Bag Lady,5:03,2000-08-19,67,53.0,42.0,41.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2000,Baha Men,Who Let The Dogs Out,3:17,2000-07-22,99,92.0,85.0,76.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2000,Barenaked Ladies,Pinch Me,3:46,2000-09-09,77,76.0,69.0,45.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2000,Beenie Man,Girls Dem Sugar,4:17,2000-10-21,72,72.0,63.0,56.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2000,"Thomas, Carl",Emotional,4:31,2000-11-25,77,63.0,61.0,58.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,2000,"Thomas, Carl",I Wish,3:50,2000-03-25,75,64.0,48.0,39.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,2000,"Thomas, Carl",Summer Rain,4:57,2000-09-23,82,82.0,86.0,80.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,2000,"Tippin, Aaron",Kiss This,2:53,2000-08-26,74,72.0,66.0,53.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,2000,Train,Meet Virginia,3:55,1999-10-09,76,67.0,59.0,54.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,2000,Trick Daddy,Shut Up,4:17,2000-05-20,99,95.0,87.0,87.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,2000,Trina,Pull Over,2:58,2000-09-09,97,93.0,96.0,100.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,2000,"Tritt, Travis",Best Of Intentions,4:15,2000-08-19,97,86.0,79.0,70.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,2000,Tuesday,I Know,4:06,2000-12-30,98,98.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,2000,"Urban, Keith",Your Everything,4:10,2000-07-15,81,80.0,73.0,73.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,2000,Usher,Pop Ya Collar,3:36,2000-11-04,68,64.0,60.0,60.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,2000,"Vassar, Phil",Carlene,4:07,2000-03-04,75,67.0,64.0,64.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,2000,"Vassar, Phil",Just Another Day In ...,3:54,2000-09-30,81,81.0,76.0,67.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,2000,Vertical Horizon,Everything You Want,4:01,2000-01-22,70,61.0,53.0,46.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,2000,Vertical Horizon,You're A God,3:45,2000-08-26,64,55.0,43.0,41.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,2000,Vitamin C,Graduation (Friends ...,4:23,2000-04-15,81,64.0,54.0,54.0,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2000,Vitamin C,The Itch,3:30,2000-12-02,86,48.0,45.0,52.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,2000,"Walker, Clay","Live, Laugh, Love",4:06,1999-12-04,95,95.0,94.0,94.0,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,2000,"Walker, Clay",The Chain Of Love,5:03,2000-04-15,73,65.0,57.0,57.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,2000,"Wallflowers, The",Sleepwalker,3:29,2000-10-28,73,73.0,74.0,80.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,2000,Westlife,Swear It Again,4:07,2000-04-01,96,82.0,66.0,55.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,2000,"Williams, Robbie",Angels,3:56,1999-11-20,85,77.0,69.0,69.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2000,"Wills, Mark",Back At One,4:00,2000-01-15,89,55.0,51.0,43.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,2000,"Worley, Darryl",When You Need My Lov...,3:35,2000-06-17,98,88.0,93.0,92.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,2000,"Wright, Chely",It Was,3:51,2000-03-04,86,78.0,75.0,72.0,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,86,83.0,77.0,74.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,85,83.0,83.0,82.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,95,94.0,91.0,85.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,matchbox twenty,Bent,4:12,2000-04-29,60,37.0,29.0,24.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
billboard_long = pd.melt(billboard, 
                         id_vars = ['year', 'artist', 'track', 
                                    'time', 'date.entered'], 
                         var_name = 'week', 
                         value_name = 'rating')
# - id_vars: 와이드포맷에서 롱포맷으로 데이터프레임을 피벗핑할 때
#            변환에 상관없이 그대로 유지해야하는 기준/고정 변수컬럼들
# - variable: 와이드포맷에서 가로방향으로 나열되어 있던 
#             변수컬럼들의 컬럼명칭(wk1 ~ wk76)이 세로방향으로 길게 쌓이게 되며, 
#             이를 대표하는 변수컬럼명으로 week를 설정함
# - value: 와이드포맷에서 가로방향으로 나열되어 있던 
#          변수컬럼들의 실제 요소값들이 세로방향으로 길게 쌓이게 되며, 
#          이를 대표하는 변수컬럼명으로 rating을 설정함

billboard_long

,year,artist,track,time,date.entered,week,rating
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
5,2000,98^0,Give Me Just One Nig...,3:24,2000-08-19,wk1,51.0
6,2000,A*Teens,Dancing Queen,3:44,2000-07-08,wk1,97.0
7,2000,Aaliyah,I Don't Wanna,4:15,2000-01-29,wk1,84.0
8,2000,Aaliyah,Try Again,4:03,2000-03-18,wk1,59.0
9,2000,"Adams, Yolanda",Open My Heart,5:30,2000-08-26,wk1,76.0
10,2000,"Adkins, Trace",More,3:05,2000-04-29,wk1,84.0
11,2000,"Aguilera, Christina",Come On Over Baby (A...,3:38,2000-08-05,wk1,57.0
12,2000,"Aguilera, Christina",I Turn To You,4:00,2000-04-15,wk1,50.0
13,2000,"Aguilera, Christina",What A Girl Wants,3:18,1999-11-27,wk1,71.0
14,2000,Alice Deejay,Better Off Alone,6:50,2000-04-08,wk1,79.0
15,2000,"Allan, Gary",Smoke Rings In The D...,4:18,2000-01-22,wk1,80.0
16,2000,Amber,Sexual,4:38,1999-07-17,wk1,99.0
17,2000,Anastacia,I'm Outta Love,4:01,2000-04-01,wk1,92.0
18,2000,"Anthony, Marc",My Baby You,3:59,2000-09-16,wk1,82.0
19,2000,"Anthony, Marc",You Sang To Me,3:50,2000-02-26,wk1,77.0
20,2000,Avant,My First Love,4:28,2000-11-04,wk1,70.0
21,2000,Avant,Separated,4:13,2000-04-29,wk1,62.0
22,2000,BBMak,Back Here,3:35,2000-04-29,wk1,99.0
23,2000,"Backstreet Boys, The",Shape Of My Heart,3:49,2000-10-14,wk1,39.0
24,2000,"Backstreet Boys, The",Show Me The Meaning ...,3:54,2000-01-01,wk1,74.0
25,2000,"Backstreet Boys, The",The One,3:46,2000-05-27,wk1,58.0
26,2000,"Badu, Erkyah",Bag Lady,5:03,2000-08-19,wk1,67.0
27,2000,Baha Men,Who Let The Dogs Out,3:17,2000-07-22,wk1,99.0
28,2000,Barenaked Ladies,Pinch Me,3:46,2000-09-09,wk1,77.0
29,2000,Beenie Man,Girls Dem Sugar,4:17,2000-10-21,wk1,72.0
...,...,...,...,...,...,...,...
24062,2000,"Thomas, Carl",Emotional,4:31,2000-11-25,wk76,NaN
24063,2000,"Thomas, Carl",I Wish,3:50,2000-03-25,wk76,NaN
24064,2000,"Thomas, Carl",Summer Rain,4:57,2000-09-23,wk76,NaN
24065,2000,"Tippin, Aaron",Kiss This,2:53,2000-08-26,wk76,NaN
24066,2000,Train,Meet Virginia,3:55,1999-10-09,wk76,NaN
24067,2000,Trick Daddy,Shut Up,4:17,2000-05-20,wk76,NaN
24068,2000,Trina,Pull Over,2:58,2000-09-09,wk76,NaN
24069,2000,"Tritt, Travis",Best Of Intentions,4:15,2000-08-19,wk76,NaN
24070,2000,Tuesday,I Know,4:06,2000-12-30,wk76,NaN
24071,2000,"Urban, Keith",Your Everything,4:10,2000-07-15,wk76,NaN
24072,2000,Usher,Pop Ya Collar,3:36,2000-11-04,wk76,NaN
24073,2000,"Vassar, Phil",Carlene,4:07,2000-03-04,wk76,NaN
24074,2000,"Vassar, Phil",Just Another Day In ...,3:54,2000-09-30,wk76,NaN
24075,2000,Vertical Horizon,Everything You Want,4:01,2000-01-22,wk76,NaN
24076,2000,Vertical Horizon,You're A God,3:45,2000-08-26,wk76,NaN
24077,2000,Vitamin C,Graduation (Friends ...,4:23,2000-04-15,wk76,NaN
24078,2000,Vitamin C,The Itch,3:30,2000-12-02,wk76,NaN
24079,2000,"Walker, Clay","Live, Laugh, Love",4:06,1999-12-04,wk76,NaN
24080,2000,"Walker, Clay",The Chain Of Love,5:03,2000-04-15,wk76,NaN
24081,2000,"Wallflowers, The",Sleepwalker,3:29,2000-10-28,wk76,NaN
24082,2000,Westlife,Swear It Again,4:07,2000-04-01,wk76,NaN
24083,2000,"Williams, Robbie",Angels,3:56,1999-11-20,wk76,NaN
24084,2000,"Wills, Mark",Back At One,4:00,2000-01-15,wk76,NaN
24085,2000,"Worley, Darryl",When You Need My Lov...,3:35,2000-06-17,wk76,NaN
24086,2000,"Wright, Chely",It Was,3:51,2000-03-04,wk76,NaN
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,NaN
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,NaN
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,NaN
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,NaN
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,NaN

# ebola 데이터프레임 변환하기

In [6]:
ebola = pd.read_csv('./data/country_timeseries.csv')
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,NaN,7830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376.0,NaN,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,NaN,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,NaN,2085.0,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,NaN,7797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3290.0,NaN,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,NaN,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,NaN,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,NaN,7719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3177.0,NaN,NaN,NaN,NaN,NaN,NaN
15,11/30/2014,253,2164.0,NaN,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,NaN,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN
17,11/23/2014,246,2134.0,NaN,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,NaN,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,NaN,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,NaN,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN
22,11/11/2014,234,1919.0,NaN,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,NaN,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN
24,11/9/2014,232,1878.0,NaN,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,NaN,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,NaN,6822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2836.0,NaN,NaN,NaN,NaN,NaN,NaN
26,11/4/2014,227,NaN,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,NaN,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11/2/2014,225,1731.0,NaN,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,NaN,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,35,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# 변수컬럼 목록 확인
ebola.columns

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')

In [8]:
# 일부 데이터 배치 현황 파악
ebola.iloc[:5, [0, 1, 2, 3, 10, 11]]

         Date  Day  Cases_Guinea  Cases_Liberia  Deaths_Guinea  Deaths_Liberia
0    1/5/2015  289        2776.0            NaN         1786.0             NaN
1    1/4/2015  288        2775.0            NaN         1781.0             NaN
2    1/3/2015  287        2769.0         8166.0         1767.0          3496.0
3    1/2/2015  286           NaN         8157.0            NaN          3496.0
4  12/31/2014  284        2730.0         8115.0         1739.0          3471.0

### ebola 데이터셋 와이드포맷에서 롱포맷으로 변환

In [9]:
# ebola 데이터셋 와이드포맷에서 롱포맷으로 변환
ebola_long = pd.melt(ebola, id_vars=['Date', 'Day'])
ebola_long

# - id_vars: 와이드포맷에서 롱포맷으로 데이터프레임을 피벗핑할 때
#            변환에 상관없이 그대로 유지해야하는 기준/고정 변수컬럼들
# - variable: 와이드포맷에서 가로방향으로 나열되어 있던 
#             변수컬럼들의 컬럼명칭(Cases_OOO ~ Deaths_OOO)이 세로방향으로 길게 쌓이게 되며, 
#             이를 대표하는 변수컬럼명으로 디폴트값인 variable이 자동으로 설정됨
# - value: 와이드포맷에서 가로방향으로 나열되어 있던 
#          변수컬럼들의 실제 요소값들이 세로방향으로 길게 쌓이게 되며, 
#          이를 대표하는 변수컬럼명으로 디폴트값인 rating이 자동으로 설정됨

            Date  Day      variable   value
0       1/5/2015  289  Cases_Guinea  2776.0
1       1/4/2015  288  Cases_Guinea  2775.0
2       1/3/2015  287  Cases_Guinea  2769.0
3       1/2/2015  286  Cases_Guinea     NaN
4     12/31/2014  284  Cases_Guinea  2730.0
5     12/28/2014  281  Cases_Guinea  2706.0
6     12/27/2014  280  Cases_Guinea  2695.0
7     12/24/2014  277  Cases_Guinea  2630.0
8     12/21/2014  273  Cases_Guinea  2597.0
9     12/20/2014  272  Cases_Guinea  2571.0
10    12/18/2014  271  Cases_Guinea     NaN
11    12/14/2014  267  Cases_Guinea  2416.0
12     12/9/2014  262  Cases_Guinea     NaN
13     12/7/2014  260  Cases_Guinea  2292.0
14     12/3/2014  256  Cases_Guinea     NaN
15    11/30/2014  253  Cases_Guinea  2164.0
16    11/28/2014  251  Cases_Guinea     NaN
17    11/23/2014  246  Cases_Guinea  2134.0
18    11/22/2014  245  Cases_Guinea     NaN
19    11/18/2014  241  Cases_Guinea  2047.0
20    11/16/2014  239  Cases_Guinea  1971.0
21    11/15/2014  238  Cases_Guinea     NaN
22    11/11/2014  234  Cases_Guinea  1919.0
23    11/10/2014  233  Cases_Guinea     NaN
24     11/9/2014  232  Cases_Guinea  1878.0
25     11/8/2014  231  Cases_Guinea     NaN
26     11/4/2014  227  Cases_Guinea     NaN
27     11/3/2014  226  Cases_Guinea  1760.0
28     11/2/2014  225  Cases_Guinea  1731.0
29    10/31/2014  222  Cases_Guinea     NaN
...          ...  ...           ...     ...
1922   5/23/2014   62   Deaths_Mali     NaN
1923   5/12/2014   51   Deaths_Mali     NaN
1924   5/10/2014   49   Deaths_Mali     NaN
1925    5/7/2014   46   Deaths_Mali     NaN
1926    5/5/2014   44   Deaths_Mali     NaN
1927    5/3/2014   42   Deaths_Mali     NaN
1928    5/1/2014   40   Deaths_Mali     NaN
1929   4/26/2014   35   Deaths_Mali     NaN
1930   4/24/2014   33   Deaths_Mali     NaN
1931   4/23/2014   32   Deaths_Mali     NaN
1932   4/22/2014   31   Deaths_Mali     NaN
1933   4/21/2014   30   Deaths_Mali     NaN
1934   4/20/2014   29   Deaths_Mali     NaN
1935   4/17/2014   26   Deaths_Mali     NaN
1936   4/16/2014   25   Deaths_Mali     NaN
1937   4/15/2014   24   Deaths_Mali     NaN
1938   4/14/2014   23   Deaths_Mali     NaN
1939   4/11/2014   20   Deaths_Mali     NaN
1940    4/9/2014   18   Deaths_Mali     NaN
1941    4/7/2014   16   Deaths_Mali     NaN
1942    4/4/2014   13   Deaths_Mali     NaN
1943    4/1/2014   10   Deaths_Mali     NaN
1944   3/31/2014    9   Deaths_Mali     NaN
1945   3/29/2014    7   Deaths_Mali     NaN
1946   3/28/2014    6   Deaths_Mali     NaN
1947   3/27/2014    5   Deaths_Mali     NaN
1948   3/26/2014    4   Deaths_Mali     NaN
1949   3/25/2014    3   Deaths_Mali     NaN
1950   3/24/2014    2   Deaths_Mali     NaN
1951   3/22/2014    0   Deaths_Mali     NaN

[1952 rows x 4 columns]

### ebola 데이터셋 열 이름 분리와 데이터프레임에 추가하기

In [10]:
variable_split = ebola_long.variable.str.split('_')
variable_split

0       [Cases, Guinea]
1       [Cases, Guinea]
2       [Cases, Guinea]
3       [Cases, Guinea]
4       [Cases, Guinea]
5       [Cases, Guinea]
6       [Cases, Guinea]
7       [Cases, Guinea]
8       [Cases, Guinea]
9       [Cases, Guinea]
10      [Cases, Guinea]
11      [Cases, Guinea]
12      [Cases, Guinea]
13      [Cases, Guinea]
14      [Cases, Guinea]
15      [Cases, Guinea]
16      [Cases, Guinea]
17      [Cases, Guinea]
18      [Cases, Guinea]
19      [Cases, Guinea]
20      [Cases, Guinea]
21      [Cases, Guinea]
22      [Cases, Guinea]
23      [Cases, Guinea]
24      [Cases, Guinea]
25      [Cases, Guinea]
26      [Cases, Guinea]
27      [Cases, Guinea]
28      [Cases, Guinea]
29      [Cases, Guinea]
             ...
1922     [Deaths, Mali]
1923     [Deaths, Mali]
1924     [Deaths, Mali]
1925     [Deaths, Mali]
1926     [Deaths, Mali]
1927     [Deaths, Mali]
1928     [Deaths, Mali]
1929     [Deaths, Mali]
1930     [Deaths, Mali]
1931     [Deaths, Mali]
1932     [Deaths, Mali]
1933     [Deaths, Mali]
1934     [Deaths, Mali]
1935     [Deaths, Mali]
1936     [Deaths, Mali]
1937     [Deaths, Mali]
1938     [Deaths, Mali]
1939     [Deaths, Mali]
1940     [Deaths, Mali]
1941     [Deaths, Mali]
1942     [Deaths, Mali]
1943     [Deaths, Mali]
1944     [Deaths, Mali]
1945     [Deaths, Mali]
1946     [Deaths, Mali]
1947     [Deaths, Mali]
1948     [Deaths, Mali]
1949     [Deaths, Mali]
1950     [Deaths, Mali]
1951     [Deaths, Mali]
Name: variable, Length: 1952, dtype: object

In [11]:
print(type(variable_split)) 
# - 분리된 변수컬럼명 데이터셋은 시리즈 포맷임

print(type(variable_split[0]))
# - 분리된 변수컬럼명 데이터셋의 각 요소값은 리스트포맷임

<class 'pandas.core.series.Series'>
<class 'list'>

In [12]:
# 분리된 변수컬럼명 시리즈객체의 각 리스트 요소에서
# 이벤트와 국가명을 별도의 시리즈로 분리해냄
status_values = variable_split.str.get(0) 
print(status_values[:5])
print(type(status_values))

print()

country_values = variable_split.str.get(1)
print(country_values[:5])
print(type(country_values))

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object
<class 'pandas.core.series.Series'>

0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object
<class 'pandas.core.series.Series'>

In [13]:
# 각각 분리해낸 이벤트와 국가명 시리즈 객체를 파생변수로 추가
ebola_long['status'] = status_values 
ebola_long['country'] = country_values
ebola_long.head()

         Date  Day      variable   value status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

# concat 메서드를 응용하여 데이터프레임에 열 추가하기

In [14]:
# 특정변수컬럼명의 문자열 분리시 expand = False 디폴트 옵션으로 분리
variable_split = ebola_long.variable.str.split('_', expand = False) 

print(variable_split[0:5]) 
print(type(variable_split)) 
# - 분리된 변수컬럼명 데이터셋은 시리즈 객체임

print() 

print(variable_split[0])
print(type(variable_split[0]))
# - 분리된 변수컬럼명 데이터셋의 각 요소값은 리스트 객체임

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
4    [Cases, Guinea]
Name: variable, dtype: object
<class 'pandas.core.series.Series'>

['Cases', 'Guinea']
<class 'list'>

In [15]:
# 특정변수컬럼명의 문자열 분리시 expand = True 옵션으로 분리
variable_split = ebola_long.variable.str.split('_', expand = True) 

print(variable_split[0:5]) 
print(type(variable_split)) 
# - 분리된 변수컬럼명 데이터셋은 데이터프레임 객체임
# - 2개로 분리된 각 변수컬럼의 임시 변수컬럼명으로 0과 1이라는 인덱스 번호로 부여함

print() 

print(variable_split[0][:5])
print(type(variable_split[0]))
# - 분리된 변수컬럼명 데이터셋의 각 요소값은 시리즈객체임

       0       1
0  Cases  Guinea
1  Cases  Guinea
2  Cases  Guinea
3  Cases  Guinea
4  Cases  Guinea
<class 'pandas.core.frame.DataFrame'>

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: 0, dtype: object
<class 'pandas.core.series.Series'>

In [16]:
# 분리된 2개 변수컬럼의 0과 1이라는 
# 임시 인덱스번호 변수컬럼명을 새로운 변수컬럼명으로 변경함
variable_split.columns = ['status', 'country'] 
variable_split.head()

  status country
0  Cases  Guinea
1  Cases  Guinea
2  Cases  Guinea
3  Cases  Guinea
4  Cases  Guinea

In [17]:
# .concat() 함수를 이용해서 2개 데이터 프레임간에 열방향(좌-우)로 결합함
ebola_long_varsplit = pd.concat([ebola_long, variable_split], axis=1)

ebola_long_varsplit.head()

         Date  Day      variable   value status country status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea  Cases  Guinea

# 기상데이터셋을 이용한 와이드에서 롱으로, 롱에서 와이드로 변환

In [18]:
# 기상데이터셋 로딩
weather = pd.read_csv('./data/weather.csv')
weather
# - 년도(year), 월(month), 일자별(d1~d31) 최고온도(tmax)와 최저온도(tmin)를 element변수컬럼에 정리한 관측데이터셋

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# 와이드포맷형태인 일자(di~d31)을 롱포맷으로 변환(피벗팅)함
weather_long = pd.melt(weather, 
                       id_vars=['id', 'year', 'month', 'element'], 
                       var_name='day', value_name='temp')
# - id_vars: 와이드포맷에서 롱포맷으로 데이터프레임을 피벗핑할 때
#            변환에 상관없이 그대로 유지해야하는 기준/고정 변수컬럼들
# - variable: 와이드포맷에서 가로방향으로 나열되어 있던 
#             변수컬럼들의 컬럼명칭(d1 ~ d31)이 세로방향으로 길게 쌓이게 되며, 
#             이를 대표하는 변수컬럼명으로 day를 설정함
# - value: 와이드포맷에서 가로방향으로 나열되어 있던 
#          변수컬럼들의 실제 요소값들이 세로방향으로 길게 쌓이게 되며, 
#          이를 대표하는 변수컬럼명으로 temp를 설정함

weather_long

          id  year  month element  day  temp
0    MX17004  2010      1    tmax   d1   NaN
1    MX17004  2010      1    tmin   d1   NaN
2    MX17004  2010      2    tmax   d1   NaN
3    MX17004  2010      2    tmin   d1   NaN
4    MX17004  2010      3    tmax   d1   NaN
5    MX17004  2010      3    tmin   d1   NaN
6    MX17004  2010      4    tmax   d1   NaN
7    MX17004  2010      4    tmin   d1   NaN
8    MX17004  2010      5    tmax   d1   NaN
9    MX17004  2010      5    tmin   d1   NaN
10   MX17004  2010      6    tmax   d1   NaN
11   MX17004  2010      6    tmin   d1   NaN
12   MX17004  2010      7    tmax   d1   NaN
13   MX17004  2010      7    tmin   d1   NaN
14   MX17004  2010      8    tmax   d1   NaN
15   MX17004  2010      8    tmin   d1   NaN
16   MX17004  2010     10    tmax   d1   NaN
17   MX17004  2010     10    tmin   d1   NaN
18   MX17004  2010     11    tmax   d1   NaN
19   MX17004  2010     11    tmin   d1   NaN
20   MX17004  2010     12    tmax   d1  29.9
21   MX17004  2010     12    tmin   d1  13.8
22   MX17004  2010      1    tmax   d2   NaN
23   MX17004  2010      1    tmin   d2   NaN
24   MX17004  2010      2    tmax   d2  27.3
25   MX17004  2010      2    tmin   d2  14.4
26   MX17004  2010      3    tmax   d2   NaN
27   MX17004  2010      3    tmin   d2   NaN
28   MX17004  2010      4    tmax   d2   NaN
29   MX17004  2010      4    tmin   d2   NaN
..       ...   ...    ...     ...  ...   ...
652  MX17004  2010      8    tmax  d30   NaN
653  MX17004  2010      8    tmin  d30   NaN
654  MX17004  2010     10    tmax  d30   NaN
655  MX17004  2010     10    tmin  d30   NaN
656  MX17004  2010     11    tmax  d30   NaN
657  MX17004  2010     11    tmin  d30   NaN
658  MX17004  2010     12    tmax  d30   NaN
659  MX17004  2010     12    tmin  d30   NaN
660  MX17004  2010      1    tmax  d31   NaN
661  MX17004  2010      1    tmin  d31   NaN
662  MX17004  2010      2    tmax  d31   NaN
663  MX17004  2010      2    tmin  d31   NaN
664  MX17004  2010      3    tmax  d31   NaN
665  MX17004  2010      3    tmin  d31   NaN
666  MX17004  2010      4    tmax  d31   NaN
667  MX17004  2010      4    tmin  d31   NaN
668  MX17004  2010      5    tmax  d31   NaN
669  MX17004  2010      5    tmin  d31   NaN
670  MX17004  2010      6    tmax  d31   NaN
671  MX17004  2010      6    tmin  d31   NaN
672  MX17004  2010      7    tmax  d31   NaN
673  MX17004  2010      7    tmin  d31   NaN
674  MX17004  2010      8    tmax  d31  25.4
675  MX17004  2010      8    tmin  d31  15.4
676  MX17004  2010     10    tmax  d31   NaN
677  MX17004  2010     10    tmin  d31   NaN
678  MX17004  2010     11    tmax  d31   NaN
679  MX17004  2010     11    tmin  d31   NaN
680  MX17004  2010     12    tmax  d31   NaN
681  MX17004  2010     12    tmin  d31   NaN

[682 rows x 6 columns]

In [20]:
# 롱포맷형태인 최고/최저온도(element) 변수컬럼을 와이드포맷으로 변환(피벗팅)함
weather_wide = weather_long.pivot_table(
    index=['id', 'year', 'month', 'day'], 
    columns='element', 
    values='temp')
# - index: 롱포맷에서 와이드포맷으로 데이터프레임을 피벗핑할 때
#          변환에 상관없이 그대로 유지해야하는 기준/고정 변수컬럼들
# - columns: 롱포맷에서 세로방향으로 길게 쌓여 있는 변수컬럼들 중에서 
#            가로방향으로 분리해 나열(tmax, tmin)하게 될 
#            대상 변수컬럼(element)을 지정함 
# - values: 롱포맷에서 세로방향으로 길게 쌓여 있는 변수컬럼들 중에서 
#           가로방향으로 분리해 나열하게 될 실제값들을 
#           어떠한 변수컬럼(temp)에서 가져올지를 설정함

weather_wide

element                 tmax  tmin
id      year month day
MX17004 2010 1     d30  27.8  14.5
             2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4
             3     d10  34.5  16.8
                   d16  31.1  17.6
                   d5   32.1  14.2
             4     d27  36.3  16.7
             5     d27  33.2  18.2
             6     d17  28.0  17.5
                   d29  30.1  18.0
             7     d3   28.6  17.5
                   d14  29.9  16.5
             8     d23  26.4  15.0
                   d5   29.6  15.8
                   d29  28.0  15.3
                   d13  29.8  16.5
                   d25  29.7  15.6
                   d31  25.4  15.4
                   d8   29.0  17.3
             10    d5   27.0  14.0
                   d14  29.5  13.0
                   d15  28.7  10.5
                   d28  31.2  15.0
                   d7   28.1  12.9
             11    d2   31.3  16.3
                   d5   26.3   7.9
                   d27  27.7  14.2
                   d26  28.1  12.1
                   d4   27.2  12.0
             12    d1   29.9  13.8
                   d6   27.8  10.5

In [21]:
# 롱포맷에서 와이드포맷 변환시 발생했떤 원본인덱스 순서를 리셋시킴
weather_long_resetindex = weather_long.reset_index() 
weather_long_resetindex.head()

   index       id  year  month element day  temp
0      0  MX17004  2010      1    tmax  d1   NaN
1      1  MX17004  2010      1    tmin  d1   NaN
2      2  MX17004  2010      2    tmax  d1   NaN
3      3  MX17004  2010      2    tmin  d1   NaN
4      4  MX17004  2010      3    tmax  d1   NaN

# 빌보드 차트의 중복 데이터 처리하기

In [22]:
billboard = pd.read_csv('./data/billboard.csv')
billboard_long = pd.melt(billboard, 
                         id_vars=['year', 'artist', 'track', 'time', 'date.entered'], 
                         var_name='week', 
                         value_name='rating')

print(billboard_long.shape)
print(billboard_long)

(24092, 7)
       year                artist                    track  time date.entered  \
0      2000                 2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000               2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000          3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000          3 Doors Down                    Loser  4:24   2000-10-21
4      2000              504 Boyz            Wobble Wobble  3:35   2000-04-15
5      2000                  98^0  Give Me Just One Nig...  3:24   2000-08-19
6      2000               A*Teens            Dancing Queen  3:44   2000-07-08
7      2000               Aaliyah            I Don't Wanna  4:15   2000-01-29
8      2000               Aaliyah                Try Again  4:03   2000-03-18
9      2000        Adams, Yolanda            Open My Heart  5:30   2000-08-26
10     2000         Adkins, Trace                     More  3:05   2000-04-29
11     2000   Aguilera, Christina  Come On Over Baby (A...  3:38   2000-08-05
12     2000   Aguilera, Christina            I Turn To You  4:00   2000-04-15
13     2000   Aguilera, Christina        What A Girl Wants  3:18   1999-11-27
14     2000          Alice Deejay         Better Off Alone  6:50   2000-04-08
15     2000           Allan, Gary  Smoke Rings In The D...  4:18   2000-01-22
16     2000                 Amber                   Sexual  4:38   1999-07-17
17     2000             Anastacia           I'm Outta Love  4:01   2000-04-01
18     2000         Anthony, Marc              My Baby You  3:59   2000-09-16
19     2000         Anthony, Marc           You Sang To Me  3:50   2000-02-26
20     2000                 Avant            My First Love  4:28   2000-11-04
21     2000                 Avant                Separated  4:13   2000-04-29
22     2000                 BBMak                Back Here  3:35   2000-04-29
23     2000  Backstreet Boys, The        Shape Of My Heart  3:49   2000-10-14
24     2000  Backstreet Boys, The  Show Me The Meaning ...  3:54   2000-01-01
25     2000  Backstreet Boys, The                  The One  3:46   2000-05-27
26     2000          Badu, Erkyah                 Bag Lady  5:03   2000-08-19
27     2000              Baha Men     Who Let The Dogs Out  3:17   2000-07-22
28     2000      Barenaked Ladies                 Pinch Me  3:46   2000-09-09
29     2000            Beenie Man          Girls Dem Sugar  4:17   2000-10-21
...     ...                   ...                      ...   ...          ...
24062  2000          Thomas, Carl                Emotional  4:31   2000-11-25
24063  2000          Thomas, Carl                   I Wish  3:50   2000-03-25
24064  2000          Thomas, Carl              Summer Rain  4:57   2000-09-23
24065  2000         Tippin, Aaron                Kiss This  2:53   2000-08-26
24066  2000                 Train            Meet Virginia  3:55   1999-10-09
24067  2000           Trick Daddy                  Shut Up  4:17   2000-05-20
24068  2000                 Trina                Pull Over  2:58   2000-09-09
24069  2000         Tritt, Travis       Best Of Intentions  4:15   2000-08-19
24070  2000               Tuesday                   I Know  4:06   2000-12-30
24071  2000          Urban, Keith          Your Everything  4:10   2000-07-15
24072  2000                 Usher            Pop Ya Collar  3:36   2000-11-04
24073  2000          Vassar, Phil                  Carlene  4:07   2000-03-04
24074  2000          Vassar, Phil  Just Another Day In ...  3:54   2000-09-30
24075  2000      Vertical Horizon      Everything You Want  4:01   2000-01-22
24076  2000      Vertical Horizon             You're A God  3:45   2000-08-26
24077  2000             Vitamin C  Graduation (Friends ...  4:23   2000-04-15
24078  2000             Vitamin C                 The Itch  3:30   2000-12-02
24079  2000          Walker, Clay        Live, Laugh, Love  4:06   1999-12-04
24080  2000          Walker, Clay        The Chain Of Love  5:03   2000-04-15
24081  2000      Wallflowers, The              Sleepwalker  3:29   2000-10-28
24082  2000              Westlife           Swear It Again  4:07   2000-04-01
24083  2000      Williams, Robbie                   Angels  3:56   1999-11-20
24084  2000           Wills, Mark              Back At One  4:00   2000-01-15
24085  2000        Worley, Darryl  When You Need My Lov...  3:35   2000-06-17
24086  2000         Wright, Chely                   It Was  3:51   2000-03-04
24087  2000           Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000      Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000       Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000         Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000       matchbox twenty                     Bent  4:12   2000-04-29

       week  rating
0       wk1    87.0
1       wk1    91.0
2       wk1    81.0
3       wk1    76.0
4       wk1    57.0
5       wk1    51.0
6       wk1    97.0
7       wk1    84.0
8       wk1    59.0
9       wk1    76.0
10      wk1    84.0
11      wk1    57.0
12      wk1    50.0
13      wk1    71.0
14      wk1    79.0
15      wk1    80.0
16      wk1    99.0
17      wk1    92.0
18      wk1    82.0
19      wk1    77.0
20      wk1    70.0
21      wk1    62.0
22      wk1    99.0
23      wk1    39.0
24      wk1    74.0
25      wk1    58.0
26      wk1    67.0
27      wk1    99.0
28      wk1    77.0
29      wk1    72.0
...     ...     ...
24062  wk76     NaN
24063  wk76     NaN
24064  wk76     NaN
24065  wk76     NaN
24066  wk76     NaN
24067  wk76     NaN
24068  wk76     NaN
24069  wk76     NaN
24070  wk76     NaN
24071  wk76     NaN
24072  wk76     NaN
24073  wk76     NaN
24074  wk76     NaN
24075  wk76     NaN
24076  wk76     NaN
24077  wk76     NaN
24078  wk76     NaN
24079  wk76     NaN
24080  wk76     NaN
24081  wk76     NaN
24082  wk76     NaN
24083  wk76     NaN
24084  wk76     NaN
24085  wk76     NaN
24086  wk76     NaN
24087  wk76     NaN
24088  wk76     NaN
24089  wk76     NaN
24090  wk76     NaN
24091  wk76     NaN

[24092 rows x 7 columns]

In [23]:
# 빌보드데이터 중 중복가능성이 있는 변수컬럼들을 별도의 데이터셋을 추출
billboard_songs = billboard_long[['year', 'artist', 'track', 'time']] 
print(billboard_songs.shape)
print(billboard_songs)

(24092, 4)
       year                artist                    track  time
0      2000                 2 Pac  Baby Don't Cry (Keep...  4:22
1      2000               2Ge+her  The Hardest Part Of ...  3:15
2      2000          3 Doors Down               Kryptonite  3:53
3      2000          3 Doors Down                    Loser  4:24
4      2000              504 Boyz            Wobble Wobble  3:35
5      2000                  98^0  Give Me Just One Nig...  3:24
6      2000               A*Teens            Dancing Queen  3:44
7      2000               Aaliyah            I Don't Wanna  4:15
8      2000               Aaliyah                Try Again  4:03
9      2000        Adams, Yolanda            Open My Heart  5:30
10     2000         Adkins, Trace                     More  3:05
11     2000   Aguilera, Christina  Come On Over Baby (A...  3:38
12     2000   Aguilera, Christina            I Turn To You  4:00
13     2000   Aguilera, Christina        What A Girl Wants  3:18
14     2000          Alice Deejay         Better Off Alone  6:50
15     2000           Allan, Gary  Smoke Rings In The D...  4:18
16     2000                 Amber                   Sexual  4:38
17     2000             Anastacia           I'm Outta Love  4:01
18     2000         Anthony, Marc              My Baby You  3:59
19     2000         Anthony, Marc           You Sang To Me  3:50
20     2000                 Avant            My First Love  4:28
21     2000                 Avant                Separated  4:13
22     2000                 BBMak                Back Here  3:35
23     2000  Backstreet Boys, The        Shape Of My Heart  3:49
24     2000  Backstreet Boys, The  Show Me The Meaning ...  3:54
25     2000  Backstreet Boys, The                  The One  3:46
26     2000          Badu, Erkyah                 Bag Lady  5:03
27     2000              Baha Men     Who Let The Dogs Out  3:17
28     2000      Barenaked Ladies                 Pinch Me  3:46
29     2000            Beenie Man          Girls Dem Sugar  4:17
...     ...                   ...                      ...   ...
24062  2000          Thomas, Carl                Emotional  4:31
24063  2000          Thomas, Carl                   I Wish  3:50
24064  2000          Thomas, Carl              Summer Rain  4:57
24065  2000         Tippin, Aaron                Kiss This  2:53
24066  2000                 Train            Meet Virginia  3:55
24067  2000           Trick Daddy                  Shut Up  4:17
24068  2000                 Trina                Pull Over  2:58
24069  2000         Tritt, Travis       Best Of Intentions  4:15
24070  2000               Tuesday                   I Know  4:06
24071  2000          Urban, Keith          Your Everything  4:10
24072  2000                 Usher            Pop Ya Collar  3:36
24073  2000          Vassar, Phil                  Carlene  4:07
24074  2000          Vassar, Phil  Just Another Day In ...  3:54
24075  2000      Vertical Horizon      Everything You Want  4:01
24076  2000      Vertical Horizon             You're A God  3:45
24077  2000             Vitamin C  Graduation (Friends ...  4:23
24078  2000             Vitamin C                 The Itch  3:30
24079  2000          Walker, Clay        Live, Laugh, Love  4:06
24080  2000          Walker, Clay        The Chain Of Love  5:03
24081  2000      Wallflowers, The              Sleepwalker  3:29
24082  2000              Westlife           Swear It Again  4:07
24083  2000      Williams, Robbie                   Angels  3:56
24084  2000           Wills, Mark              Back At One  4:00
24085  2000        Worley, Darryl  When You Need My Lov...  3:35
24086  2000         Wright, Chely                   It Was  3:51
24087  2000           Yankee Grey     Another Nine Minutes  3:10
24088  2000      Yearwood, Trisha          Real Live Woman  3:55
24089  2000       Ying Yang Twins  Whistle While You Tw...  4:19
24090  2000         Zombie Nation            Kernkraft 400  3:30
24091  2000       matchbox twenty                     Bent  4:12

[24092 rows x 4 columns]

In [24]:
# 데이터셋내 중복 레코드 통합
billboard_songs = billboard_songs.drop_duplicates() 
print(billboard_songs.shape)
print(billboard_songs)

(317, 4)
     year                artist                    track  time
0    2000                 2 Pac  Baby Don't Cry (Keep...  4:22
1    2000               2Ge+her  The Hardest Part Of ...  3:15
2    2000          3 Doors Down               Kryptonite  3:53
3    2000          3 Doors Down                    Loser  4:24
4    2000              504 Boyz            Wobble Wobble  3:35
5    2000                  98^0  Give Me Just One Nig...  3:24
6    2000               A*Teens            Dancing Queen  3:44
7    2000               Aaliyah            I Don't Wanna  4:15
8    2000               Aaliyah                Try Again  4:03
9    2000        Adams, Yolanda            Open My Heart  5:30
10   2000         Adkins, Trace                     More  3:05
11   2000   Aguilera, Christina  Come On Over Baby (A...  3:38
12   2000   Aguilera, Christina            I Turn To You  4:00
13   2000   Aguilera, Christina        What A Girl Wants  3:18
14   2000          Alice Deejay         Better Off Alone  6:50
15   2000           Allan, Gary  Smoke Rings In The D...  4:18
16   2000                 Amber                   Sexual  4:38
17   2000             Anastacia           I'm Outta Love  4:01
18   2000         Anthony, Marc              My Baby You  3:59
19   2000         Anthony, Marc           You Sang To Me  3:50
20   2000                 Avant            My First Love  4:28
21   2000                 Avant                Separated  4:13
22   2000                 BBMak                Back Here  3:35
23   2000  Backstreet Boys, The        Shape Of My Heart  3:49
24   2000  Backstreet Boys, The  Show Me The Meaning ...  3:54
25   2000  Backstreet Boys, The                  The One  3:46
26   2000          Badu, Erkyah                 Bag Lady  5:03
27   2000              Baha Men     Who Let The Dogs Out  3:17
28   2000      Barenaked Ladies                 Pinch Me  3:46
29   2000            Beenie Man          Girls Dem Sugar  4:17
..    ...                   ...                      ...   ...
287  2000          Thomas, Carl                Emotional  4:31
288  2000          Thomas, Carl                   I Wish  3:50
289  2000          Thomas, Carl              Summer Rain  4:57
290  2000         Tippin, Aaron                Kiss This  2:53
291  2000                 Train            Meet Virginia  3:55
292  2000           Trick Daddy                  Shut Up  4:17
293  2000                 Trina                Pull Over  2:58
294  2000         Tritt, Travis       Best Of Intentions  4:15
295  2000               Tuesday                   I Know  4:06
296  2000          Urban, Keith          Your Everything  4:10
297  2000                 Usher            Pop Ya Collar  3:36
298  2000          Vassar, Phil                  Carlene  4:07
299  2000          Vassar, Phil  Just Another Day In ...  3:54
300  2000      Vertical Horizon      Everything You Want  4:01
301  2000      Vertical Horizon             You're A God  3:45
302  2000             Vitamin C  Graduation (Friends ...  4:23
303  2000             Vitamin C                 The Itch  3:30
304  2000          Walker, Clay        Live, Laugh, Love  4:06
305  2000          Walker, Clay        The Chain Of Love  5:03
306  2000      Wallflowers, The              Sleepwalker  3:29
307  2000              Westlife           Swear It Again  4:07
308  2000      Williams, Robbie                   Angels  3:56
309  2000           Wills, Mark              Back At One  4:00
310  2000        Worley, Darryl  When You Need My Lov...  3:35
311  2000         Wright, Chely                   It Was  3:51
312  2000           Yankee Grey     Another Nine Minutes  3:10
313  2000      Yearwood, Trisha          Real Live Woman  3:55
314  2000       Ying Yang Twins  Whistle While You Tw...  4:19
315  2000         Zombie Nation            Kernkraft 400  3:30
316  2000       matchbox twenty                     Bent  4:12

[317 rows x 4 columns]

In [25]:
billboard_songs['id'] = range(len(billboard_songs)) 
print(billboard_songs.head(n=10))

   year          artist                    track  time  id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   1
2  2000    3 Doors Down               Kryptonite  3:53   2
3  2000    3 Doors Down                    Loser  4:24   3
4  2000        504 Boyz            Wobble Wobble  3:35   4
5  2000            98^0  Give Me Just One Nig...  3:24   5
6  2000         A*Teens            Dancing Queen  3:44   6
7  2000         Aaliyah            I Don't Wanna  4:15   7
8  2000         Aaliyah                Try Again  4:03   8
9  2000  Adams, Yolanda            Open My Heart  5:30   9

In [26]:
# 노래정보와 주간순위 데이터를 다시 머지함
billboard_ratings = billboard_long.merge(billboard_songs, on=['year', 'artist', 'track', 'time']) 
billboard_ratings.shape

(24092, 8)

In [27]:
billboard_ratings.head()

   year artist                    track  time date.entered week  rating  id
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0   0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk2    82.0   0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk3    72.0   0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk4    77.0   0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk5    87.0   0

# End of Source